@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.wrapper {
    background-color: #0d0e13;
}
.container {
    width: 100%;
    height: 200px;

    display: flex;
}
.logo {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-left: 30px;
    padding: 50px;
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    line-height: 35px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Kurale', serif;
    text-shadow: 0.5px 0.5px 0.5px #fff;
}

.row {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}
.row p {
    margin-left: 30px;
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
}
.row span {
    padding-left: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #ffff;
}
.diachi {
    padding-left: 30px;
    padding-top: 10px;
    color: #fff;
    height: 40px;
}
.line {
    background-color: #fff;
    height: 2px;
}
