@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    display: flex;
    height: 90px;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: #0d0e13;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-left: 30px;
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    line-height: 35px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Kurale', serif;
    text-shadow: 0.5px 0.5px 0.5px #fff;
}

.nav {
    margin-left: 30px;
}

.search {
    position: relative;
    width: 360px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: #f0f0f0;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: #333;
        font-size: 1.6rem;
        background-color: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: #333;
    }
}

.clear {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
