.ticketBooking-right{
	 width: 60%;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #eeeeee;
    width: 100%;
    min-height: 80vh;
    border-radius: 8px;
    color: black;
    margin-bottom: 80px;
	font-size: 1.6rem;
}

.ticket-info-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title {
    font-size: 20px;
    font-weight: 800;
    padding-top: 20px;
}

.cinema-name {
    font-size: 18px;
    padding-bottom: 8px;
}

.ticket-time {
    font-size: 18px;
}

.ticket-line {
    width: 200px;
    height: 5px;
    background-color: #c92522;
    margin-top: 10px;
    border-radius: 5px;
}

.ticket-info-between {
    margin: 0 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticket-info-between .ticket-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.ticket-info-between .ticket-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200;
}

.ticket-info-bottom {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: auto;
}

.line-bottom {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.line-bottom .ticket-line {
    width: 300px;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.group-button {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.group-button .button {
    border: solid 2px #c92522;
    border-radius: 8px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
}

.group-button .button-next {
    background-color: #c92522;
}

.group-button .button-pay {
    width: 100%;
    background-color: #c92522;
    color: #fff;
}

// ==========================================================================
.title {
	font-size: 28px;
	text-align: center;
	margin-top: 10px;
    font-weight: 900;
}

.poster {
	width: 100%;
	height: 320px;
	object-fit: contain;
}
